    header {
      text-align: center;
      background: url("images/yam.png");
      background-size: cover;
      color: gold;
    }
    .nav {
      color: orange;
    }
    h1 {
      font-size: 80px;
    }
    img {
      margin: 3px 0px 0px 0px;
      border: 7px black;
      border-radius: 20px;
      width: 309px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
      